html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Verdana", "Geneva", sans-serif;
  background: #e85445;
  background: #e85445;
  color: #ECF0F1; }

.container {
  margin: 0px 10px; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #2c3e50;
  padding-bottom: 15px; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center; }
    section aside:last-child {
      margin-right: 0; }
  section article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    border-left: 1px solid #2c3e50;
    padding-left: 15px; }
    section article:last-child {
      margin-right: 0; }
