html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Verdana", "Geneva", sans-serif;
  background: #DDDDDB;
  background: #DDDDDB;
  color: #2c3e50; }

header {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden; }
  header::after {
    clear: both;
    content: "";
    display: table; }

@-webkit-keyframes swing {
  from {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }

  to {
    -webkit-transform: rotate(12deg) rotateY(50deg);
            transform: rotate(12deg) rotateY(50deg); } }

@keyframes swing {
  from {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }

  to {
    -webkit-transform: rotate(12deg) rotateY(50deg);
            transform: rotate(12deg) rotateY(50deg); } }

.nav {
  z-index: 999;
  margin-bottom: 5px;
  position: relative;
  width: 100%; }

#services {
  opacity: 0; }
  @media screen and (min-width: 480px) {
    #services {
      opacity: 1;
      color: red; } }

nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }
  nav::after {
    clear: both;
    content: "";
    display: table; }
  nav ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px; }
    nav ul:last-child {
      margin-right: 0; }
  nav li {
    display: block;
    float: right;
    color: red; }
    nav li a {
      font-size: 1.05em;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #1a242f;
      margin: 0px;
      border-top: 5px solid #DDDDDB;
      -webkit-transition: border-top 0.2s ease-out;
              transition: border-top 0.2s ease-out;
      padding: 1.35em 1em 1.35em 1em; }
      nav li a:hover {
        border-top: 5px solid #E74C3C; }
  nav .brand {
    padding: 0px;
    font-size: 2em;
    text-decoration: none;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    nav .brand a {
      margin-top: 14px;
      float: left;
      display: block;
      text-decoration: none;
      position: relative;
      color: #1a242f; }
      @media screen and (min-width: 1140px) {
        nav .brand a:hover::after {
          -webkit-animation: swing 0.3s infinite;
                  animation: swing 0.3s infinite;
          -webkit-animation-direction: alternate;
                  animation-direction: alternate; } }
      nav .brand a::after {
        -webkit-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;
        display: block;
        position: absolute;
        top: -23px;
        right: 75px;
        background: url('../img/tail.png') right top no-repeat;
        background: url('../img/tail.png') right top no-repeat;
        background-size: contain;
        -webkit-transform: rotate(12deg);
            -ms-transform: rotate(12deg);
                transform: rotate(12deg);
        width: 150px;
        height: 70px;
        content: ""; }
        @media screen and (min-width: 480px) {
          nav .brand a::after {
            right: -60px; } }
    nav .brand:hover {
      color: #2c3e50; }
    nav .brand:last-child {
      margin-right: 0; }

.hero {
  min-width: 100%;
  background: url('../img/foxface.png') no-repeat local center top 30px #E74C3C;
  background-size: 55%;
  min-height: 100%; }
  @media screen and (min-width: 480px) {
    .hero {
      background-color: #DDDDDB;
      background: url('../img/littlefox3.jpg') no-repeat local center bottom 50px #E74C3C;
      background-size: 700px 427px; } }
  @media screen and (min-width: 1140px) {
    .hero {
      background: url('../img/fox4.jpg') no-repeat scroll right -150px top -150px;
      background-color: #DDDDDB; } }

.header {
  height: 100%;
  text-align: center;
  padding-top: 200px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 480px) {
    .header {
      padding-top: 220px; } }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  .header button {
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid #2c3e50;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out; }
    @media screen and (min-width: 1140px) {
      .header button:hover {
        color: #E74C3C;
        border: 1px solid #E74C3C; } }

section {
  position: relative;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #2c3e50;
  padding-bottom: 15px; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center; }
    section aside:last-child {
      margin-right: 0; }
    @media screen and (min-width: 480px) {
      section aside {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        section aside:last-child {
          margin-right: 0; } }
  section article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: justify;
    border-left: none;
    padding-left: 15px;
    padding-right: 15px; }
    section article:last-child {
      margin-right: 0; }
    @media screen and (min-width: 480px) {
      section article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
        margin-right: 0;
        border-left: 1px solid #2c3e50; }
        section article:last-child {
          margin-right: 0; } }

.divider {
  width: 100%; }
