html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Verdana", "Geneva", sans-serif;
  background: #E74C3C;
  background: #E74C3C;
  color: #ECF0F1; }

h1 {
  text-align: center; }

.divider {
  height: 90px;
  width: 100%; }

.nav {
  background: #ECF0F1;
  background: #ECF0F1;
  margin-bottom: 5px;
  position: fixed;
  width: 100%; }

nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }
  nav::after {
    clear: both;
    content: "";
    display: table; }
  nav ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px; }
    nav ul:last-child {
      margin-right: 0; }
  nav li {
    display: block;
    float: right;
    color: red;
    margin: 0px;
    padding: 0px; }
    nav li a {
      font-size: 1.05em;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #2c3e50;
      margin: 0px;
      border-bottom: 5px solid #ECF0F1;
      -webkit-transition: border-bottom 0.2s ease-out;
              transition: border-bottom 0.2s ease-out;
      padding: 1.25em 0.25em 1.25em 0.25em; }
      nav li a:hover {
        border-bottom: 5px solid #E74C3C; }
  nav .brand {
    padding: 0px;
    font-size: 2em;
    text-decoration: none;
    color: #E74C3C;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    nav .brand a {
      margin-top: 12px;
      float: left;
      display: block;
      text-decoration: none;
      position: relative;
      color: #2c3e50; }
      nav .brand a:hover::after {
        -webkit-animation: swing 0.3s infinite;
                animation: swing 0.3s infinite;
        -webkit-animation-direction: alternate;
                animation-direction: alternate; }
      nav .brand a::after {
        display: block;
        position: absolute;
        top: -23px;
        right: -60px;
        background: url('../img/tail.png') right top no-repeat;
        background: url('../img/tail.png') right top no-repeat;
        background-size: contain;
        -webkit-transform: rotate(12deg);
            -ms-transform: rotate(12deg);
                transform: rotate(12deg);
        width: 150px;
        height: 70px;
        content: ""; }
    nav .brand:hover {
      color: #2c3e50; }
    nav .brand:last-child {
      margin-right: 0; }

section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #2c3e50;
  padding-bottom: 15px; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center; }
    section aside:last-child {
      margin-right: 0; }
    @media screen and (min-width: 480px) {
      section aside {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        section aside:last-child {
          margin-right: 0; } }
  section article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    border-left: none;
    padding-left: 15px; }
    section article:last-child {
      margin-right: 0; }
    @media screen and (min-width: 480px) {
      section article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
        margin-right: 0;
        border-left: 1px solid #2c3e50; }
        section article:last-child {
          margin-right: 0; } }

@-webkit-keyframes swing {
  from {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }

  to {
    -webkit-transform: rotate(12deg) rotateY(50deg);
            transform: rotate(12deg) rotateY(50deg); } }

@keyframes swing {
  from {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }

  to {
    -webkit-transform: rotate(12deg) rotateY(50deg);
            transform: rotate(12deg) rotateY(50deg); } }
