// Vendor libraries
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";

// Author Components
@import "components/variables";

body {
    font-family:$verdana;
    @include background($red);
    color: $white;
}
h1 {
    text-align: center;
}
.nav {
    @include background($white);
    margin-bottom: 5px;
}
nav {
    position: relative;
    @include outer-container;
    padding: 0 10px;
    ul {
        @include span-columns(6);
        list-style: none;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    li {
        display: block;
        float: right;
        color: red;
        margin: 0px;
        padding: 0px;
        a {
            font-size: 1.05em;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: $red;
            margin: 0px;
            border-bottom: 5px solid $white;
            &:hover {
                border-bottom: 5px solid $red;
            }
            padding: 25px;
        }
    }
    .logo {
        padding: 0px;
        margin-top: 10px;
        font-size: 2em;
        text-decoration: none;
        color: $red;
        &:hover {
            color: $black;
        }
        @include span-columns(6);
    }
}
section {
    @include outer-container;
    border-bottom: 1px solid rgba($black,1);
    padding-bottom: 15px;
    aside {
        @include span-columns(12);
        @include media(480px) {
            @include span-columns(3);
        }
        text-align: center;
    }
    article {
        @include span-columns(12);
        @include media(480px) {
            @include span-columns(9);
            @include omega();
            border-left: 1px solid rgba($black,1);
        }
        border-left: none;
        padding-left: 15px;
    }
}