section {
    position: relative;
    @include outer-container;
    border-bottom: 1px solid rgba($black,1);
    padding-bottom: 15px;
    aside {
        @include span-columns(12);
        @include media(480px) {
            @include span-columns(3);
        }
        text-align: center;
    }
    article {
        @include span-columns(12);
        @include media(480px) {
            @include span-columns(9);
            @include omega();
            border-left: 1px solid rgba($black,1);
        }
        text-align: justify;
        border-left: none;
        padding-left: 15px;
        padding-right: 15px;
    }
}
