.hero {
    min-width: 100%;
    background-image: url('../img/fox3.jpg');
    background-position: 100px -150px;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size:100%;
    min-height: 100%;
}
.header {
    height: 100%;
    text-align: center;
    margin-top: 0px;
    @include outer-container;
    h1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    button {
        position: absolute;
        font-size: 0.95em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        border: none;
        outline: none;
        border: 1px solid $black;
        border-radius: 2px;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover {
            color: $red;
            border: 1px solid $red;
        }
    }
}