.nav {
    z-index: 999;
    // @include background($red);
    margin-bottom: 5px;
    position: relative;
    width: 100%;
    // box-shadow: 0 1px 0 lighten($black,40%);
}
#services {
    opacity: 0;
    @include media(480px) {
        opacity: 1;
        color: red;
    }
}
nav {
    @include outer-container;
    padding: 0 10px;
    ul {
        @include span-columns(6);
        list-style: none;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    li {
        display: block;
        float: right;
        color: red;
        a {
            font-size: 1.05em;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: darken($black,10%);
            margin: 0px;
            border-top: 5px solid $white;
            transition: border-top 0.2s ease-out;
            &:hover {
                border-top: 5px solid $red;
            }
            padding: 1.35em 1em 1.35em 1em;
        }
    }
    .brand {
        position: relative;
        padding: 0px;
        font-size: 2em;
        text-decoration: none;
        a {
            margin-top: 14px;
            float: left;
            display: block;
            text-decoration: none;
            position: relative;
            color: darken($black,10%);
            @include media(1140px) {
                &:hover {
                    &::after {
                        animation: swing 0.3s infinite;
                        animation-direction: alternate;
                    }
                }
            }
            &::after {
                transition: all 0.3s ease-in;
                display: block;
                position: absolute;
                top: -23px;
                right: 75px;
                @include media(480px) {
                    right: -60px;
                }
                @include background(url('../img/tail.png') right top no-repeat);
                background-size: contain;
                transform: rotate(12deg);
                width: 150px;
                height: 70px;
                content: "" ;
            }
        }
        &:hover {
            color: $black;
        }
        @include span-columns(6);
    }
}
